.button {
    background-color: #B20909;
    color:white;
    text-transform: uppercase;
    font-weight: 600;
    width: 100%;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    padding-inline: 1.5rem;
    padding-block: 0.5rem;
    font-size: 1rem;
}